* {
  font-family: cursive;
}

/* Estilo para el contenedor del carrito */
.cart-container {
  width: 90%;
  margin: 5% auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cart-header {
  background-color: rgb(228, 209, 211);
  border-radius: 10px 10px 0 0;
  padding: 15px;
}

.cart-header h5 {
  font-size: 24px;
  color: #555;
}

.cart-footer {
  padding: 10px;
  text-align: center;
}

.cart-footer .btn-custom {
  background-color: rgb(228, 209, 211);
  color: #333;
  border: none;
}

.cart-footer .btn-custom:hover {
  background-color: #d6bfbf;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item div {
  flex: 1;
}

.cart-item div:last-child {
  text-align: right;
}

.btn-custom {
  background-color: rgb(228, 209, 211);
  color: #333;
  border: none;
}

.btn-custom:hover {
  background-color: #d6bfbf;
}

/* Estilo para los items del carrito */
.cart-item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid #ccc;
}

/* Estilo para el contenedor del producto dentro del carrito */
.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Ajuste del nombre y detalles del producto */
.list-group-item h6 {
  font-size: 16px;
  margin: 0;
  color: #333;
}

.list-group-item small {
  color: #777;
}

.btn-sm:hover {

  transform: scale(1.1);
  /* Aumenta el tamaño al pasar el ratón */
  box-shadow: 1px solid #eeee;
  border-radius: 50px;
  /* Cambia la forma a más redondeada */
  cursor: pointer;
}


#popup {
  overflow: scroll;
  padding: 30px;
  display: none;
  /* Dont Touc */
  position: fixed;
  /* Dont Touc */
  width: 60%;
  text-align: center;
  bottom: 0%;
  right: 0%;
  height: 100%;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.893);
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  border-radius: 30px 0px 0px 30px;
}

#overlay {
  display: none;
  /* Dont Touc */
  position: fixed;
  /* Dont Touc */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.736);
  z-index: 999;
  backdrop-filter: blur(3px);
}

.btn-outline-success {
  position: fixed;
  z-index: 99;
  right: 5%;
  bottom: 13%;
  transform: scale(1.6);
}